/* iRail Web - Mathias Baert 2010 - Some kind of free licence */
/* reset : http://meyerweb.com/eric/tools/css/reset/ minus what we don't need - public domain */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global layout and typography */
/* used these colours: http://www.colourlovers.com/palette/92095/Giant_Goldfish */
body {
	width:312px;
	background:#E0E4CC;
	padding:4px;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#222;
	font-size:18px;
}

/* search */
form p {
	margin:0 0 2px 0;
}

label {
	display:block;
	float:left;
	width:50px;
}
input.text {
	background:#A7DBD8;
	border:solid 1px #95C4C1;
	width:260px;
}
label,
input.text {
	height:20px;
	line-height:20px;
}

/* results */
table.results {
	margin:10px 0;
	width:312px;
}
table.results td {
	padding:1px 2px;
}

table.results,
table.results td {
	border:solid 1px #F38630;
	color:#FFF;
	background:#5EBCCF;
}

table.results .departure td,
table.results .via td,
table.results .arrival td {
	color:#5EBCCF;
	background:#E0E4CC;
}

table.results .via td {
	color:#95C4C1;
}

table.results span.arrival:before {
	content: '\2192';
}
table.results span.duration {
	float:right;
}
