<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<title>iRail - Web</title>
		<script type="text/javascript" src="js/irail-api.js"></script>
		<script type="text/javascript" src="js/util.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<link rel="stylesheet" type="text/css" href="css/master.css" />
	</head>
	<body>
		<div id="search">
			<form id="form">
				<p>
					<label for="from">From</label>
					<input type="text" class="text" name="from" value="brussel noord" />
				</p>
				<p>
					<label for="to">To</label>
					<input type="text" class="text" name="to" value="brussel zuid" />
				</p>
				<p>
					<input type="submit" class="submit" value="Search">
				</p>
			</form>
		</div>
		<div id="results">
		</div>
		
		<script type="text/html" id="results_template">
			<!-- Tables? I hear you ask. You are welcome to fix it. -->
			<% for (var i=0; i<connection.length; i++) { %>
			<table cellspacing="0" class="results">
				<tbody>
					<tr>
						<td>
							<span class="departure"><%= _.t(connection[i].departure.time) %></span>
							<span class="arrival"><%= _.t(connection[i].arrival.time) %></span>
							<span class="duration"><%= _.t(connection[i].duration) %></span>
						</td>
					</tr>
					<tr class="departure">
						<td><%= _.h(connection[i].departure.station) %></td>
					</tr>
					<% for (var j=0; j<connection[i].vias.via.length; j++) { %>
					<tr class="via">
						<td><%= _.h(connection[i].vias.via[j].station) %></td>
					</tr>
					<% } %>
					<tr class="arrival">
						<td><%= _.h(connection[i].arrival.station) %></td>
					</tr>
				</tbody>
			</table>
			<% } %>
		</script>
	</body>
</html>