<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>iRail</title>
		<link rel="stylesheet" href="css/master.css">
		<meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=1.0;user-scalable=0;">
	</head>
	<body>
		<div id="search"></div>
		<div id="results"></div>
		<script type="text/html" id="search_template">
		<![CDATA[
			<form id="form">
				<fieldset>
					<label for="departure">From</label>
					<input type="text" class="text" name="departure" value="">
					<div class="autocomplete" id="departure_autocomplete"></div>
				</fieldset>
				<fieldset>
					<label for="arrival">To</label>
					<input type="text" class="text" name="arrival" id="arrival" value="">
					<div class="autocomplete" id="arrival_autocomplete"></div>
				</fieldset>
				<fieldset class="radio">
					<input type="radio" class="radio" name="departure-or-arrival" value="departure"> 
					<label for="departure-or-arrival">Depart at</label>
					<input type="radio" class="radio" name="departure-or-arrival" id="departure-or-arrival" value="arrival" checked>
					<label for="departure-or-arrival">Arrive at</label>
				</fieldset>
				<% var now = new Date(),
					day    = now.getDate(),
					month  = (now.getMonth()+1),
					year   = now.getFullYear(),
					hour   = now.getHours(),
					minute = Math.ceil(now.getMinutes()/5)*5;
				%>
				<fieldset>
					<select name="day">
					<% for (var i=1; i<=31; i++) { %>
						<option<%= (day==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
					 / 
					<select name="month">
					<% for (var i=1; i<=12; i++) { %>
						<option<%= (month==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
					 / 
					<select name="year">
					<% for (var i=year; i<=year+1; i++) { %>
						<option<%= (year==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
				</fieldset>
				<fieldset>
					<select name="hour">
					<% for (var i=0; i<=23; i++) { %>
						<option<%= (hour==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
					 : 
					<select name="minute">
					<% for (var i=0; i<=59; i+=5) { %>
						<option<%= (minute==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
				</fieldset>
				<fieldset>
					<input type="submit" class="submit" value="Search">
				</fieldset>
			</form>
		]]>
		</script>
		
		<script type="text/html" id="results_template">
		<![CDATA[
			<!-- Tables? I hear you ask. You are welcome to fix it. -->
			<% if (error) { %>
				
				<%= message %>
				
			<% } else { %>
			
				<% for (var i=0; i<connection.length; i++) { %>
				<table class="results">
					<tbody>
						<tr>
							<td>
								<span class="departure">
									<%= _.t(connection[i].departure.time, 'hh:mm') %>
									<% if (connection[i].departure.delay>0) { %>
									<span class="delay">+<%= connection[i].departure.delay %></span>
									<% } %>
								</span>
								<span class="arrival">
									<%= _.t(connection[i].arrival.time, 'hh:mm') %>
									<% if (connection[i].arrival.delay>0) { %>
									<span class="delay">+<%= connection[i].arrival.delay %></span>
									<% } %>
								</span>
								<span class="duration">
									<%= _.t(connection[i].duration, 'hh:mm') %>
								</span>
							</td>
						</tr>
						<tr class="departure">
							<td><%= _.h(connection[i].departure.station) %></td>
						</tr>
						<% for (var j=0; j<connection[i].vias.via.length; j++) { %>
						<tr class="via">
							<td><%= _.h(connection[i].vias.via[j].station) %></td>
						</tr>
						<% } %>
						<tr class="arrival">
							<td><%= _.h(connection[i].arrival.station) %></td>
						</tr>
					</tbody>
				</table>
				<% } %>
			<% } %>
		]]>
		</script>

		<script type="text/html" id="departure_autocomplete_template">
		<![CDATA[
			<ul>
			<% for (var i=0; i<values.length; i++) { %>
				<li><%= values[i] %></li>
			<% } %>
			</ul>
		]]>
		</script>

		<script type="text/html" id="arrival_autocomplete_template">
		<![CDATA[
			<ul>
			<% for (var i=0; i<values.length; i++) { %>
				<li><%= values[i] %></li>
			<% } %>
			</ul>
		]]>
		</script>
		<script src="js/irail-api.js"></script>
		<script src="js/util.js"></script>
		<script src="js/autocomplete.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>