<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>iRail</title>
		<link rel="stylesheet" href="css/master.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
		<meta http-equiv="HandheldFriendly" content="true" />
		<meta name="apple-mobile-web-app-capable" content="yes"/>
	</head>
	<body>
		<div>
			<ul id="navigation">
				<li id="show_search" class="first">Route</li>
				<li id="show_liveboard">Board</li>
				<li id="show_info" class="last">Info</li>
			</ul>
			<div id="search_pane">
				<div id="search"></div>
				<div id="search_results"></div>
			</div>
			<div id="liveboard_pane">
				<div id="liveboard"></div>
				<div id="liveboard_results"></div>
			</div>
			<div id="info_pane">
				<div id="info">
					<h1>What is iRail?</h1>
					<p>
						iRail.be is an attempt to make transportation time schedules easily available for anyone. 
						We are doing this by creating an Application Programming Interface. This interface is 
						implemented in PHP and can be reused by various of other projects.
					</p>
					<p>
						Our main site consists of a very easy mobile website to look up time schedules using our own API. 
						The website you're currently using is it's mobile edition.
					</p>
					<p>
						Head over to our <a href="http://project.irail.be/cgi-bin/trac.fcgi/wiki/History">history page</a> 
						for a detailed overview.
					</p>
				</div>
			</div>
		</div>
		<script type="text/html" id="search_template">
		<![CDATA[
			<form id="search_form">
				<fieldset>
					<label for="departure">From</label>
					<div class="autocompleted">
						<input type="text" class="text" name="departure" id="departure">
						<div class="autocomplete" id="departure_autocomplete"></div>
					</div>
				</fieldset>
				<fieldset>
					<label for="arrival">To</label>
					<div class="autocompleted">
						<input type="text" class="text" name="arrival" id="arrival">
						<div class="autocomplete" id="arrival_autocomplete"></div>
					</div>
				</fieldset>
				<fieldset class="radio">
					<label><input type="radio" class="radio" name="departure-or-arrival" value="departure"> Depart at</label>
					<label><input type="radio" class="radio" name="departure-or-arrival" value="arrival" checked> Arrive at</label>
				</fieldset>
				<% var now = new Date(),
					day    = now.getDate(),
					month  = (now.getMonth()+1),
					year   = now.getFullYear(),
					hour   = now.getHours(),
					minute = Math.ceil(now.getMinutes()/5)*5;
				%>
				<fieldset>
					<select name="day">
					<% for (var i=1; i<=31; i++) { %>
						<option<%= (day==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
					 / 
					<select name="month">
					<% for (var i=1; i<=12; i++) { %>
						<option<%= (month==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
					 / 
					<select name="year">
					<% for (var i=year; i<=year+1; i++) { %>
						<option<%= (year==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
				</fieldset>
				<fieldset>
					<select name="hour">
					<% for (var i=0; i<=23; i++) { %>
						<option<%= (hour==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
					 : 
					<select name="minute">
					<% for (var i=0; i<=59; i+=5) { %>
						<option<%= (minute==i ? ' selected' : '') %>><%= i %></option>
					<% } %>
					</select>
				</fieldset>
				<fieldset>
					<input type="submit" class="submit" value="Search">
				</fieldset>
			</form>
		]]>
		</script>
		
		<script type="text/html" id="search_results_template">
		<![CDATA[
			<!-- Tables? I hear you ask. You are welcome to fix it. -->
			<% if (error) { %>
				
				<%= message %>
				
			<% } else { %>
			
				<% for (var i=0; i<connection.length; i++) { %>
				<table class="results">
					<tbody>
						<tr>
							<td>
								<span class="departure">
									<%= _.partial('time', connection[i].departure) %>
								</span>
								<span class="arrival">
									<%= _.partial('time', connection[i].arrival) %>
								</span>
								<span class="duration">
									<%= _.t(connection[i].duration, 'hh:mm') %>
								</span>
							</td>
						</tr>
						<tr class="departure">
							<td><%= _.h(connection[i].departure.station) %></td>
						</tr>
						<% for (var j=0; j<connection[i].vias.via.length; j++) { %>
						<tr class="via">
							<td><%= _.h(connection[i].vias.via[j].station) %></td>
						</tr>
						<% } %>
						<tr class="arrival">
							<td><%= _.h(connection[i].arrival.station) %></td>
						</tr>
					</tbody>
				</table>
				<% } %>
			<% } %>
		]]>
		</script>

		<script type="text/html" id="departure_autocomplete_template">
		<![CDATA[
			<%= _.partial('autocomplete', {values:values, position:position}) %>
		]]>
		</script>

		<script type="text/html" id="arrival_autocomplete_template">
		<![CDATA[
			<%= _.partial('autocomplete', {values:values, position:position}) %>
		]]>
		</script>

		<script type="text/html" id="station_autocomplete_template">
		<![CDATA[
			<%= _.partial('autocomplete', {values:values, position:position}) %>
		]]>
		</script>

		<script type="text/html" id="_autocomplete">
		<![CDATA[
			<ul>
			<% for (var i=0; i<values.length; i++) { %>
				<li<%= (position==i ? ' class="current"' : '') %>><%= values[i] %></li>
			<% } %>
			</ul>
		]]>
		</script>
		
		<script type="text/html" id="liveboard_template">
		<![CDATA[
			<form id="liveboard_form">
				<fieldset>
					<label for="station">For</label>
					<div class="autocompleted">
						<input type="text" class="text" name="station" id="station">
						<div class="autocomplete" id="station_autocomplete"></div>
					</div>
				</fieldset>
				<fieldset>
					<input type="submit" class="submit" value="Search">
				</fieldset>
			</form>
		]]>
		</script>
		
		<script type="text/html" id="liveboard_results_template">
		<![CDATA[
			<% if (error) { %>
				
				<%= message %>
				
			<% } else if (departures.number == 0) { %>

				no departures

			<% } else { %>
			
				<table class="results">
					<tbody>
					<% for (var i=0; i<departures.departure.length; i++) { %>
						<tr>
							<td class="platform">
								<%= departures.departure[i].platform != 'NA' ? departures.departure[i].platform : '-' %>
							</td>
							<td class="destination">
								<%= departures.departure[i].station %>
							</td>
							<td class="time">
								<%= _.partial('time', departures.departure[i]) %>
							</td>
						</tr>
					<% } %>
					</tbody>
				</table>

			<% } %>
		]]>
		</script>
		
		<script type="text/html" id="_time">
		<![CDATA[
			<%= _.t(time, 'hh:mm') %>
			<% if (delay>0) { %>
			<span class="delay"><%= _.t(delay, '+hh:mm') %></span>
			<% } %>
		]]>
		</script>
		
		
		<script src="js/irail-api.js"></script>
		<script src="js/util.js"></script>
		<script src="js/autocomplete.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>